body {
    font-family:'Montserrat', sans-serif;
    color : #FF6060;
}

h1 {
    font-size: 400px;
    font-weight: bold;
    margin-top:50px;
    margin-bottom:50px;
}

h2 {
    font-size:50px;
}

h3 {
    font-size:22px;
}

a:link {
    /*text-decoration: none;*/
    color: #FF6060;
}

a:visited {
    color: #FF6060;
}

header {
    height:150px;
}

main{
    text-align: center;
}

footer {

}