body {
    font-family:'Montserrat', sans-serif;
    background: #ffffff;
    color : #FF6060;
    margin:0px;
    display:flex;
    flex-direction:column;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:link {
    color: #FF6060;
}

a:visited {
    color: #FF6060;
}

header {
    display:flex;
    justify-content: space-between;
    margin:15px;
    height:80px;

}

#logo {
    text-decoration: none;
}

#home {
    text-decoration: none;
}

#about {
    text-decoration: none;
}

#menu {
    display:flex;
    justify-content: space-between;
}

#menu li{
    list-style: none;
    margin-left:10px;
    margin-right:10px;
    font-size:15px;
}

main{
    margin:auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}

footer {
    height:100px;
    background-color: black;
    color:#ffffff;
    text-align: center;
}

footer img {
    margin-top:25px;
    height:20px;
}

footer h3 {
    margin-top:10px;
    margin-bottom:0px;
    font-size:10px;
}