.banner {
    margin-top:0px;
    margin-bottom:20px;
    width:335px;
    height:111px;
    background-image:url(../assets/eric-muhr-P_XxsdVgtpQ-unsplash.jpg.png);
    border-radius: 2vmin 2vmin 2vmin 2vmin;
    object-fit: cover;
    filter:contrast(100%);
    filter:brightness(75%);
}

.banner h1 {
    color:#ffffff;
    font-weight: bold;
    font-size:20px;
    text-align: left;
    padding-left:15px;
    padding-top:20px;
    filter:brightness(100%);
}

.listLogements {

    background-color: #F6F6F6;
    border-radius: 2vmin 2vmin 2vmin 2vmin;
    display:flex;
    flex-direction: column;
    justify-content:center ;
}

.vignetteLogement {
    height:255px;
    width:335px;
    background:linear-gradient(180deg, #FF6060, #171717);
    background-color: #FF6060;
    margin:5px;
    border-radius: 3%;
}

.locationTitle {
    margin-top:200px;
    margin-right:200px;
    font-size:15px;
    text-align: left;
    padding-left:15px;
    color:#ffffff;
}