
.gradientImg{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
}

#menu{
    list-style-type: none;
}

a:visited{
    color:#FF6060;
}

.textCenter{
    text-align: center;
    vertical-align: center;
}

.imgAbout{
    width:100%;
    object-fit: cover;
}

.imgProfile{
    width:25%;
    height:70px;
}

.borderRadius{
    border-radius:2vmin 2vmin 2vmin 2vmin;
}

/* Small devices (landscape phones, less than 768px)*/
@media (min-width:400px) and (max-width: 767.98px) {

    #titleSize{
        font-size: 1.25em;
        width:50px;
        padding-left: 20px;
        left:75px;
    }

    .tagSize{
        font-size:1em;
    }
    .errorTitle{
        font-size: 8em;
    }
    .textAlign{
        text-align: center;
    }
    .margin-top{
        margin-top:100px;
    }
    .inverse{
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    }

/* Medium devices (tablets, less than 892px)*/
@media (min-width:768px) and (max-width: 891.98px) {
    .errorTitle{
        font-size: 13em;
    }
    .textAlign{
        text-align: center;
    }
    .margin-top{
        margin-top:100px;
    }
    .imgProfile{
        width:20%;
        height:70px;
    }
    }

/* Large devices (desktops, less than 1600px)*/
@media (min-width:892px) and (max-width:1599.98px){
    #titleSize{
        font-size: 4em;
        width:50px;
        left:125px;
    }

    .errorTitle{
        font-size: 15em;
    }
    .textAlign{
        text-align: center;
    }
    .margin-top{
        margin-top:10px;
    }

    .imgProfile{
        width:15%;
        height:70px;
    }
}